<div>
  <h1>{{title}}</h1>
  <div>Sök efter din favoritdinosaurie:</div>
  <input type="text" [(ngModel)]='listFilter' />
  <div class="searchResult">
    <h3>Sökt på: {{listFilter}}</h3>
  </div>
 <ul *ngIf='DinoArray && DinoArray.length'>
  <li *ngFor='let Dino of DinoArray | dinoFilter: listFilter' (click)='setCurrentDino(Dino.id)'>
    <a [routerLink]="['/dino', Dino.id]"><p>{{Dino.title}}</p>
    <img src="https://farm{{Dino.farm}}.staticflickr.com/{{Dino.server}}/{{Dino.id}}_{{Dino.secret}}.jpg" alt="{{Dino.title}}" />
    </a>
  </li>
 </ul>
</div>
<app-dino-details (dinoClicked)='onDinoClicked($event)'>Laddar...</app-dino-details>
